.ChatDiv {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--tg-theme-bg-color);
    justify-content: space-around;
    align-items: center;
}

.h3 {
    margin: 3px;
}