.CardDiv {
    display: flex;
    flex-direction: row;
    border: black solid 1px;
    border-radius: 20px;
    margin: 3px 6px;
    cursor: pointer;
    background-color: var(--tg-theme-bg-color);
}

.CardLink {
    text-decoration: none;
}
