.PassInput {
    width: 80%;
    text-align: center;
    border-radius: 10px;
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    padding: 3px;
}

.PassDiv {
    width: 100%;
    text-align: center;
    padding: 6px;
}