.authDiv {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 60%;
    margin: 20vh 20%;
    padding: 8px;
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: 10px;
}

.link {
    text-decoration: none;
}

input {
    border-radius: 10px;
    padding: 3px;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    text-align: center;
    margin: 3px;
}