* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    overflow: hidden;
}